{% extends 'base.html' %}
{% load static %}

{% block title %}
    بازیابی رمز عبور
{% endblock %}


{% block content %}
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
        <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
            <!-- Heading -->
            <div class="text-center mb-5 mb-md-7">
                <h1 class="h2">رمز عبور را فراموش کرده اید؟</h1>
                <p>آدرس ایمیل خود را در زیر وارد کنید و ما شما را به مسیر درست برگردانیم.</p>
            </div>
            <!-- End Heading -->

            <!-- Form -->
            <form action="{% url 'accounts:reset_password' %}" method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="form-label" for="ResetPasswordEmail">
                            ایمیل شما
                        </label>

                        <a class="form-label-link" href="{% url 'accounts:login' %}">
                            بازگشت به صفحه ورود
                        </a>
                    </div>

                    <input type="email" class="form-control form-control-lg text-center"
                           name="email"
                           id="ResetPasswordEmail"
                           placeholder="ایمیل خود را وارد نمایید">
                </div>

                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">ارسال</button>
                </div>
            </form>
            <!-- End Form -->
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        // show messages alert
        const djangoMessages = [
            {% for message in messages %}
                {
                    text: "{{ message|escapejs }}",
                    tags: "{{ message.tags }}"
                }
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        djangoMessages.forEach(m => {
            let bg = "#2196F3";
            if (m.tags === "success") bg = "#4CAF50";
            else if (m.tags === "error") bg = "#F44336";
            else if (m.tags === "warning") bg = "#FFC107";

            Toastify({
                text: m.text,
                duration: 10000,
                gravity: "top",
                position: "right",
                backgroundColor: bg,
                close: true
            }).showToast();
        });
    </script>
{% endblock %}