{% extends 'base.html' %}

{% block title %}
    تغییر رمز عبور حساب کاربری
{% endblock %}

{% block content %}
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
        <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
            <!-- Heading -->
            <div class="text-center mb-5 mb-md-7">
                <h1 class="h2">تغییر رمز عبور حساب کاربری</h1>
            </div>
            <!-- End Heading -->

            <!-- Form -->
            <form action="{% url 'accounts:reset_password_confirm' token %}" method="POST">
                {% csrf_token %}

                <div class="mb-3 position-relative">
                    <input type="password" class="form-control form-control-lg text-center mb-3 pe-5"
                           name="password" id="password"
                           placeholder="رمز عبور جدید را وارد نمایید">

                    <i class="bi bi-eye position-absolute top-50 end-0 translate-middle-y me-3"
                       style="cursor: pointer; font-size: 1.2rem;"
                       data-toggle="password" data-target="password"></i>
                </div>

                <div class="mb-3 position-relative">
                    <input type="password" class="form-control form-control-lg text-center pe-5"
                           name="confirm_password" id="confirm_password"
                           placeholder="تایید رمز عبور جدید را وارد نمایید">

                    <i class="bi bi-eye position-absolute top-50 end-0 translate-middle-y me-3"
                       style="cursor: pointer; font-size: 1.2rem;"
                       data-toggle="password" data-target="confirm_password"></i>
                </div>


                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">تغییر رمز عبور</button>
                </div>
            </form>
            <!-- End Form -->
        </div>
    </div>
{% endblock %}

{% block js %}

    <script>
        // show messages alert
        const djangoMessages = [
            {% for message in messages %}
                {
                    text: "{{ message|escapejs }}",
                    tags: "{{ message.tags }}"
                }
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        djangoMessages.forEach(m => {
            let bg = "#2196F3";
            if (m.tags === "success") bg = "#4CAF50";
            else if (m.tags === "error") bg = "#F44336";
            else if (m.tags === "warning") bg = "#FFC107";

            Toastify({
                text: m.text,
                duration: 10000,
                gravity: "top",
                position: "right",
                backgroundColor: bg,
                close: true
            }).showToast();
        });
    </script>


    <script>
        // change password to text with eye
        document.querySelectorAll('[data-toggle="password"]').forEach(icon => {
            icon.addEventListener('click', function () {
                const targetId = this.dataset.target;
                const input = document.getElementById(targetId);

                const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
                input.setAttribute('type', type);

                this.classList.toggle('bi-eye');
                this.classList.toggle('bi-eye-slash');
            });
        });
    </script>

{% endblock %}