{% extends 'base.html' %}

{% block title %}
    تغییر رمز عبور حساب کاربری
{% endblock %}

{% block content %}
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
        <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
            <!-- Heading -->
            <div class="text-center mb-5 mb-md-7">
                <h1 class="h2">تغییر رمز عبور حساب کاربری</h1>
            </div>
            <!-- End Heading -->

            <!-- Form -->
            <form action="" method="POST">
                <div class="mb-3">

                    <input type="password" class="form-control form-control-lg text-center mb-3"
                           name="password"
                           placeholder="رمز عبور جدید را وارد نمایید">

                    <input type="password" class="form-control form-control-lg text-center"
                           name="confirm_password"
                           placeholder="تایید رمز عبور جدید را وارد نمایید">
                </div>

                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">تغییر رمز عبور</button>
                </div>
            </form>
            <!-- End Form -->
        </div>
    </div>
{% endblock %}