{% extends 'dashboard/admin/base.html' %}
{% load static %}

{% block title %}
    داشبورد ادمین - شبکه های اجتماعی
{% endblock %}


{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light mb-0">
            <li class="breadcrumb-item"> حساب</li>
            <li class="breadcrumb-item"> داشبورد ادمین</li>
            <li class="breadcrumb-item active" aria-current="page">
                شبکه های اجتماعی
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <div class="card">
        <!-- Header -->
        <div class="card-header border-bottom d-flex justify-content-between align-items-center">
            <h5 class="card-header-title">شبکه های اجتماعی</h5>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <form action="{% url 'dashboard:admin:footer-text' %}" method="post">
            {% csrf_token %}
            <div class="card-body">

                <div class="mb-3">
                    <label class="mb-2">آدرس</label>
                    <input type="text" name="address"
                           placeholder="ایران، بوشهر"
                           class="form-control mx-3 Disabled mb-3"
                           value="{{ item.address }}">
                </div>

                <div class="mb-3">
                    <label class="mb-2">شماره موبایل</label>
                    <input type="number" name="phone_number"
                           placeholder="09177374648"
                           class="form-control mx-3 Disabled mb-3"
                           value="{{ item.phone_number }}">
                </div>

                <div class="mb-3">
                    <label class="mb-2">توسعه دهنده</label>
                    <input type="text" name="text_footer"
                           placeholder="این وب‌ سایت توسط توسط میلاد رنجبر طراحی شده است"
                           class="form-control mx-3 Disabled mb-3"
                           value="{{ item.text_footer }}">
                </div>

                <div class="card-footer">
                    <div class=" d-flex pt-5 justify-content-end">
                        <button class="btn btn-primary ms-3" type="submit">ذخیره تغییرات</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

{% endblock %}


{% block js %}
    <script>
        {% for message in messages %}
            Swal.fire({
                icon: '{% if message.tags == "error" %}error{% else %}success{% endif %}',
                html: '<span style="font-size:20px; font-weight:bold;">{{ message|escapejs }}</span>',
                showConfirmButton: true,
                confirmButtonText: 'باشه'
            }).then((result) => {
                if (result.isConfirmed && '{{ message.tags }}' != 'error') {
                    window.location.reload();
                }
            })
        {% endfor %}
    </script>
{% endblock %}