{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    داشبورد ادمین - محصولات
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light mb-0">
            <li class="breadcrumb-item"> حساب</li>
            <li class="breadcrumb-item"> داشبورد ادمین</li>
            <li class="breadcrumb-item active" aria-current="page">
                لیست محصولات
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!-- Card -->
    <div class="card">
        <!-- Header -->
        <div class="card-header border-bottom">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="">لیست محصولات</h5>
                <a class="btn btn-primary" href="">ایجاد محصول</a>
            </div>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="card-body">

            <div class="container pb-5">
                <form action="{% url 'dashboard:admin:products' %}" class="row">

                    <!-- Input Card -->
                    <div class="col-md-3 py-1">
                        <input type="text" class="form-control form-control-sm" placeholder="جستو جوی کالا"
                               name="q" id="search-query-filter">
                    </div>
                    <!-- End Input Card -->

                    <div class="col-md-3 py-1">
                        <select class="form-select form-select-sm" name="category_id" id="category-id-filter">
                            <option value="" selected>دسته بندی</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-3 py-1">
                        <select class="form-select form-select-sm" id="order-by-filter">
                            <option value="" selected>مرتب سازی</option>
                            <option value="-created_date">جدیدترین</option>
                            <option value="created_date">قدیمی ترین</option>
                            <option value="-price">بیشترین قیمت</option>
                            <option value="price">کمترین قیمت</option>
                        </select>
                    </div>

                    <div class="col-md-2 py-1">
                        <select class="form-select form-select-sm" id="page-size-filter">
                            <option value="" selected>تعداد</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                    <div class="col-md-1 py-1">
                        <button type="submit" class="btn btn-sm btn-icon btn-primary btn-search">
                            <i class="bi-search"></i>
                        </button>
                    </div>
                </form>

            </div>

            <div class="row">

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table">

                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام محصول</th>
                            <th scope="col">دسته بندی</th>
                            <th scope="col">قیمت</th>
                            <th scope="col">تعداد</th>
                            <th scope="col">وضعیت</th>
                            <th scope="col">تخفیف</th>
                            <th scope="col">عملیات</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in object_list %}
                            <tr>
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.title }}</td>
                                <td>
                                    {% for category in item.category.all %}
                                        {{ category.title }}
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ item.price|intcomma:False }}</td>
                                <td>{{ item.stock }}</td>
                                <td>
                                    {% if item.is_published %}
                                        <span class="badge bg-success">منتشر شده</span>
                                    {% else %}
                                        <span class="badge bg-danger">پیش نویس</span>
                                    {% endif %}
                                </td>
                                <td>%{{ item.discount_percent }}</td>
                                <td class="d-flex">
                                    <a class="btn btn-sm btn-icon btn-ghost-secondary" href="">
                                        <i class="bi-pencil-square"></i>
                                    </a>
                                    {% if item.is_published %}
                                        <a class="btn btn-sm btn-icon btn-ghost-primary" target="_blank"
                                           href="{% url 'shop:product_detail' item.slug %}">
                                            <i class="bi-eye"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- End Table -->
                <div class="row m-1 py-0 ">
                    <div class="d-flex justify-content-start">
                        <div>
                            {{ total_items }} محصول
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="row pt-5 mt-3">
                    <nav aria-label="Page navigation" class="py-3">
                        <ul class="pagination justify-content-center">

                            <!-- قبلی -->
                            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                {% if page_obj.has_previous %}
                                    <a class="page-link"
                                       href="?page=
                                               {{ page_obj.previous_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">
                                        قبلی
                                    </a>
                                {% else %}
                                    <a class="page-link" href="#" tabindex="-1">قبلی</a>
                                {% endif %}
                            </li>

                            <!-- شماره صفحات -->
                            {% for page in page_obj.paginator.page_range %}
                                {% if page == page_obj.number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ page }}</a>
                                    </li>
                                {% elif page == 1 or page == page_obj.paginator.num_pages %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page }}{% if query_string %}&{{ query_string }}{% endif %}">
                                            {{ page }}
                                        </a>
                                    </li>
                                {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page }}{% if query_string %}&{{ query_string }}{% endif %}">
                                            {{ page }}
                                        </a>
                                    </li>
                                {% elif page == page_obj.number|add:'-3' or page == page_obj.number|add:'3' %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            <!-- بعدی -->
                            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                {% if page_obj.has_next %}
                                    <a class="page-link"
                                       href="?page={{ page_obj.next_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">
                                        بعدی
                                    </a>
                                {% else %}
                                    <a class="page-link" href="#">بعدی</a>
                                {% endif %}
                            </li>

                        </ul>
                    </nav>
                </div>
                <!-- End Pagination -->


            </div>
            <!-- End Row -->
        </div>
        <!-- End Body -->
    </div>
    <!-- End Card -->
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            let params = new URLSearchParams(window.location.search);

            $('#page-size-filter').val(params.get("page_size") || "10");
            $('#order-by-filter').val(params.get("order_by") || "");
            $('#search-query-filter').val(params.get("q") || "");
            $('#category-id-filter').val(params.get("category_id") || "");

            $('#page-size-filter').change(function () {
                let selected = $(this).val();
                params.set("page_size", selected);
                params.set("page", 1);
                let newUrl = window.location.pathname + "?" + params.toString();
                window.location.href = newUrl;
            });

            $('#order-by-filter').change(function () {
                let selected = $(this).val();
                params.set("order_by", selected);
                params.set("page", 1);
                let newUrl = window.location.pathname + "?" + params.toString();
                window.location.href = newUrl;
            });
        });
    </script>
{% endblock %}
