{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    داشبورد ادمین - سفارشات
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light mb-0">
            <li class="breadcrumb-item"> حساب</li>
            <li class="breadcrumb-item"> داشبورد ادمین</li>
            <li class="breadcrumb-item active" aria-current="page">
                مشاهده سفارشات
            </li>
        </ol>
    </nav>
{% endblock %}


{% block content %}
    <!-- Card -->
    <div class="card">
        <!-- Header -->
        <div class="card-header border-bottom">
            <form action="." class="row">

                <!-- Input Card -->
                <div class="col-md-3 py-1">
                    <input type="text" class="form-control form-control-sm" placeholder="جستو جوی سفارش" name="q"
                           id="search-query-filter">

                </div>
                <div class="col-md-3 py-1">
                    <select class="form-select form-select-sm" id="status-type-filter" name="status">
                        <option value="" selected>وضعیت</option>
                        {% for status_type in status_types %}
                            <option value="{{ status_type.0 }}">{{ status_type.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 py-1">
                    <select class="form-select form-select-sm" id="order-by-filter">
                        <option value="" selected>مرتب سازی</option>
                        <option value="-created_date">جدیدترین</option>
                        <option value="created_date">قدیمی ترین</option>
                    </select>
                </div>


                <div class="col-md-2 py-1">
                    <select class="form-select form-select-sm" id="page-size-filter">
                        <option value="" selected>تعداد</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>

                <div class="col-md-1 py-1">
                    <button type="submit" class="btn btn-sm btn-icon btn-primary btn-search">
                        <i class="bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="card-body">

            <!-- Tab Content -->
            <div class="tab-content" id="accountOrdersTabContent">
                <div class="tab-pane fade show active" id="accountOrdersOne" role="tabpanel"
                     aria-labelledby="accountOrdersOne-tab">
                    <!-- Select Group -->
                    <div class="d-sm-flex align-items-sm-center mb-5">
                        <div class="mb-2 mb-sm-0 me-3">
                            <span><strong class="text-dark">{{ total_items }} سفارش</strong></span>
                        </div>
                    </div>
                    <!-- End Select Group -->
                    <div class="row">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">شماره سفارش</th>
                                    <th scope="col">سفارش دهنده</th>
                                    <th scope="col">قیمت کل</th>
                                    <th scope="col">تاریخ ثبت</th>
                                    <th scope="col">وضعیت</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>
                                            <a href="{% url 'dashboard:admin:order-detail' item.pk %}">
                                                {{ item.id }}
                                            </a>
                                        </td>
                                        <td>{{ item.user.user_profile.get_fullname }}</td>
                                        <td class="formatted-price">
                                            {{ item.get_price|intcomma:False }}
                                            تومان
                                        </td>
                                        <td>{{ item.created_date|date:"Y-m-d h:i" }}</td>
                                        <td>
                                            {% if item.get_status.title == 'success' %}
                                                <span class="badge bg-{{ item.get_status.title }}">
                                                    {{ item.get_status.label }}
                                                </span>
                                            {% elif item.get_status.title == 'pending' %}
                                                <span class="badge bg-secondary">
                                                    {{ item.get_status.label }}
                                                </span>
                                            {% elif item.get_status.title == 'failed' %}
                                                <span class="badge bg-danger">
                                                    {{ item.get_status.label }}
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <p>هیچ سفارشی تا اکنون ثبت شده است.</p>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- End Table -->


                        <!-- Pagination -->
                        <div class="row pt-5 mt-3">
                            <nav aria-label="Page navigation" class="py-3">
                                <ul class="pagination justify-content-center">

                                    <!-- قبلی -->
                                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                        {% if page_obj.has_previous %}
                                            <a class="page-link"
                                               href="?page=





                                                       {{ page_obj.previous_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">
                                                قبلی
                                            </a>
                                        {% else %}
                                            <a class="page-link" href="#" tabindex="-1">قبلی</a>
                                        {% endif %}
                                    </li>

                                    <!-- شماره صفحات -->
                                    {% for page in page_obj.paginator.page_range %}
                                        {% if page == page_obj.number %}
                                            <li class="page-item active">
                                                <a class="page-link" href="#">{{ page }}</a>
                                            </li>
                                        {% elif page == 1 or page == page_obj.paginator.num_pages %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page=
                                                       {{ page }}{% if query_string %}&{{ query_string }}{% endif %}">
                                                    {{ page }}
                                                </a>
                                            </li>
                                        {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page=
                                                       {{ page }}{% if query_string %}&{{ query_string }}{% endif %}">
                                                    {{ page }}
                                                </a>
                                            </li>
                                        {% elif page == page_obj.number|add:'-3' or page == page_obj.number|add:'3' %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">...</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <!-- بعدی -->
                                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                        {% if page_obj.has_next %}
                                            <a class="page-link"
                                               href="?page=





                                                       {{ page_obj.next_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">
                                                بعدی
                                            </a>
                                        {% else %}
                                            <a class="page-link" href="#">بعدی</a>
                                        {% endif %}
                                    </li>

                                </ul>
                            </nav>
                        </div>
                        <!-- End Pagination -->

                    </div>
                </div>
            </div>
            <!-- End Tab Content -->
        </div>
        <!-- End Body -->
    </div>
    <!-- End Card -->
{% endblock %}

{% block js %}

    <script>
        $(document).ready(function () {
            let current_url_params = new URLSearchParams(window.location.search)
            $("#page-size-filter").val(current_url_params.get("page_size") || "10")
            $("#order-by-filter").val(current_url_params.get("order_by") || "")
            $("#search-query-filter").val(current_url_params.get("q") || "")
            $("#status-type-filter").val(current_url_params.get("status") || "")

        });
        $('#page-size-filter').change(function () {
            let current_url_params = new URLSearchParams(window.location.search)
            var selectedOption = $(this).val();
            current_url_params.set("page_size", selectedOption)
            let new_url = window.location.pathname + "?" + current_url_params.toString()
            window.location.href = new_url
        });
        $('#order-by-filter').change(function () {
            let current_url_params = new URLSearchParams(window.location.search)
            var selectedOption = $(this).val();
            current_url_params.set("order_by", selectedOption)
            let new_url = window.location.pathname + "?" + current_url_params.toString()
            window.location.href = new_url
        });
    </script>

{% endblock %}