{% extends 'dashboard/customer/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    داشبورد - تنظیمات امنیتی
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light mb-0">
            <li class="breadcrumb-item"> حساب</li>
            <li class="breadcrumb-item"> داشبورد کاربر</li>
            <li class="breadcrumb-item active" aria-current="page">
                تنظیمات امنیتی
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <!-- Card -->
    <div class="card mb-3">
        <div class="card-header border-bottom">
            <h5 class="card-header-title">ویرایش رمزعبور</h5>
        </div>

        <div class="card-body">

            <form action="." method="post">
                {% csrf_token %}

                <!-- رمز عبور فعلی -->
                <div class="row mb-4 position-relative">
                    <label for="old_password" class="col-sm-3 col-form-label form-label">
                        رمز عبور فعلی
                    </label>
                    <div class="col-sm-9 position-relative">
                        <input type="password" class="form-control text-center"
                               name="old_password" id="old_password"
                               placeholder="رمز عبور فعلی را وارد کنید">
                        <i class="bi bi-eye-slash password-toggle"
                           onclick="togglePassword('old_password', this)"
                           style="position:absolute; top:50%; right:25px;
                           transform:translateY(-50%); cursor:pointer;">
                        </i>
                    </div>
                </div>

                <!-- رمز عبور جدید -->
                <div class="row mb-4 position-relative">
                    <label for="new_password" class="col-sm-3 col-form-label form-label">
                        رمز عبور جدید
                    </label>
                    <div class="col-sm-9 position-relative">
                        <input type="password" class="form-control text-center"
                               name="new_password" id="new_password"
                               placeholder="رمز عبور جدید را وارد کنید">
                        <i class="bi bi-eye-slash password-toggle"
                           onclick="togglePassword('new_password', this)"
                           style="position:absolute; top:50%; right:25px;
                           transform:translateY(-50%); cursor:pointer;">
                        </i>
                    </div>
                </div>

                <!-- تایید رمز عبور جدید -->
                <div class="row mb-4 position-relative">
                    <label for="confirm_password" class="col-sm-3 col-form-label form-label">
                        رمز عبور جدید را تایید کنید
                    </label>
                    <div class="col-sm-9 position-relative">
                        <input type="password" class="form-control text-center"
                               name="confirm_password" id="confirm_password"
                               placeholder="رمز عبور جدید را مجدد وارد کنید">
                        <i class="bi bi-eye-slash password-toggle"
                           onclick="togglePassword('confirm_password', this)"
                           style="position:absolute; top:50%; right:25px;
                           transform:translateY(-50%); cursor:pointer;">
                        </i>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col-sm-12 offset-sm-4">
                        <div class="position-relative p-3 rounded-3"
                             style="background: linear-gradient(135deg, #eef2ff, #f8faff); border: 1px solid #d6e0ff;">
                            <h5 class="mt-2 fw-bold text-primary">
                                🔐 نکات رمزعبور قوی
                            </h5>
                            <p class="small text-dark mb-3">برای امنیت بیشتر، موارد زیر را رعایت کنید:</p>
                            <ul class="text-dark small ps-3"
                                style="line-height: 1.8; list-style: none; padding-left: 0; margin: 0;">
                                <li>✅ حداقل ۸ کاراکتر (هرچه بیشتر، بهتر)</li>
                                <li>✅ حداقل یک حرف کوچک</li>
                                <li>✅ حداقل یک حرف بزرگ</li>
                                <li>✅ حداقل یک عدد، نماد یا فاصله (!@#$%^&*-=)</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-end gap-3">
                    <button type="submit" class="btn btn-primary">
                        بروزرسانی رمزعبور
                    </button>
                </div>
            </form>


        </div>
    </div>
    <!-- End Card -->


{% endblock %}


{% block js %}

    {% if messages %}
        <script>
            window.addEventListener("load", function () {
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        Swal.fire({
                            icon: 'success',
                            title: '{{ message|escapejs }}',
                            confirmButtonText: "باشه",
                            showConfirmButton: true,
                            customClass: {
                                title: 'swal-title-lg'  // کلاس برای متن بزرگ
                            }
                        }).then(() => {
                            window.location.href = "{% url 'dashboard:customer:home' %}";
                        });
                    {% else %}
                        Swal.fire({
                            icon: "{% if 'error' in message.tags %}error{% elif 'warning' in message.tags %}
                                warning{% else %}info{% endif %}",
                            title: '{{ message|escapejs }}',
                            confirmButtonText: "باشه",
                            confirmButtonColor: "#3085d6",
                            customClass: {
                                title: 'swal-title-sm'  // کلاس برای متن کوچک
                            }
                        });
                    {% endif %}
                {% endfor %}
            });
        </script>

        <style>
            .swal-title-lg {
                font-size: 1.5rem; /* تغییر فونت مسیج بزرگ‌تر */
            }

            .swal-title-sm {
                font-size: 1.5rem; /* تغییر فونت مسیج کوچک‌تر */
            }
        </style>

    {% endif %}



    <script>
        function togglePassword(fieldId, icon) {
            const field = document.getElementById(fieldId);
            if (field.type === "password") {
                field.type = "text";
                icon.classList.remove("bi-eye-slash");
                icon.classList.add("bi-eye");
            } else {
                field.type = "password";
                icon.classList.remove("bi-eye");
                icon.classList.add("bi-eye-slash");
            }
        }
    </script>


{% endblock %}